<div class="home-wrapper">
  <div class="container">
    <div class="center">
      <h1>Welcome to the Sample App!!!!!!!!</h1>
    
      <h2>This is the home page for the <a href="https://railstutorial.jp/">Ruby on Rails Tutorial</a>
      sample application
      </h2>
    
      <%= link_to "Sign up now!", "#", class: "btn" %>
    </div>
  </div>
</div>