/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN", sans-serif;
}

a {
  text-decoration: none;
}

.container {
  max-width: 870px;
  padding: 0 15px;
  margin: 0 auto;
}

.clear {
  clear: both;
}

li {
  list-style: none;
}

.alert {
  margin-top:80px;
  font-size:20px;
  padding:10px;
  filter: drop-shadow(10px 10px 10px rgba(0,0,0,0.6));
  border:1px solid black;
}

/*---------------------------form-btn---------------------------------*/
.form-label {
  font-size:20px;
  margin-right: 13px;
  letter-spacing:2px;
}

.form {
  font:20px/24px sans-serif;
  box-sizing: border-box;
  transition:0.3s;
  letter-spacing:1px;
  border:none;
  border-bottom:2px solid #1b2538;
  background:transparent;
  margin-right:10px;
  width: 70%;
}

.form:focus {
  border-bottom: 2px solid #da3c41;
  outline: none;
}

.control {
  margin:20px 0;
}

.btn {
  color:gray;
  font-size:16px;
  padding:12px 30px;
  margin-top:10px;
  letter-spacing: 2px;
  font-size:20px;
  border:1px solid gray;
  transition:all 1.0s;
}

.btn:hover {
  color:white;
  background-color:gray;
  transition:all 1.0s;
}


/*---------------------------header---------------------------------*/
header {
  height: 50px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
  background-color: lightgray;
}

.header-left {
  float: left;
  font-size: 24px;
  margin-top: 7px;
}

.header-tag {
  color: black;
}
.header-tag:hover {
  opacity: 0.4
}

.header-right {
  float: right;
}

nav li{
  float: left;
  list-style: none;
  font-size:20px;
  margin-left: 30px;
}
header nav li {
  margin-top:10px;
}

/*---------------------------home---------------------------------*/
.home-wrapper {
  margin-top: 150px;
}

.home-wrapper h1 {
  font-size:60px;
  letter-spacing:2px;
}

.home-wrapper h2 {
  font-size:30px;
  letter-spacing: 2px;
}

.home-wrapper .btn {
  background-color: lightgray;
  padding: 10px;
  color: white;
  transition: all 1.0s;
}
.home-wrapper .btn:hover {
  color: black;
  transition: all 1.0s;
}

/*---------------------------footer---------------------------------*/
footer {
  border-top:1px solid black;
  margin-top: 100px;
  color: black;
}

footer small {
  margin-top: 18px;
  float:left;
}

footer li {
  font-size: 15px;
  float:right;
}


/*---------------------------signup---------------------------------*/
.signup-wrapper {
  margin-top: 100px;
  text-align: center;
}

.sign-form {
  margin:30px 0;
}

/*---------------------------profile--------------------------------*/
.session-wrapper {
  margin-top: 100px;
  text-align: center
}

/*---------------------------edit profile--------------------------------*/
.edit-user-wrapper {
  margin-top: 100px;
  text-align: center
}

.gravatar_edit {
  margin-top:50px;
}

/*---------------------------error---------------------------------*/
.error-wrapper {
  color:red;
  
}


/*---------------------------profile--------------------------------*/
.profile-wrapper {
  margin-top: 100px;
}

/*---------------------------top-wrapper--------------------------------*/
.top-wrapper {
  margin-top: 100px;
  text-align: center;
}

.user-show {
  text-align: left;
}

.top-font {
  font-size:20px;
}

.users {
  list-style: none;
  margin:0;
}
.users li {
  overflow: auto;
  padding: 10px 0;
  border-bottom: 1px solid lightgray;
}
