// Place all the styles related to the PasswordResets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.forget-password {
  color: black;
  letter-spacing: 1px;
  &:hover {
      text-decoration: underline;
  }
}

.password-reset-wrapper {
  margin-top: 100px;
  text-align: center;
}