<header class="nav-wrapper">
  <div class="container">
    <div class="header-left">
      <%= link_to "Clone", "#", id: "logo", class: "header-tag" %>
    </div>
    <div class="header-right">
      <nav>
        <li><%= link_to "Home", "#", class: "header-tag" %></li>
        <li><%= link_to "Help", "#", class: "header-tag" %></li>
        <li><%= link_to "Login", "#", class: "header-tag" %></li>
      </nav>
    </div>
    <div class="clear"></div>
  </div>
</header>
<div class="clear"></div>